@use "src/view/variables" as *;

.product-form {
  .form-group {
    padding-bottom: $padding-md;

    &:last-child {
      padding-bottom: 0;
    }

    input {
      &:focus:not(.disabled-input) {
        border-color: $color-primary !important;
      }
    }

    textarea {
      resize: none;

      &:focus:not(.disabled-input) {
        border-color: $color-primary !important;
      }
    }
  }
}

// --------------------------------------------------- IMAGE PREVIEW BLOCK

.product-form {
  .form-group {
    .image-preview-container {
      overflow: hidden;
      border: $brd;
      border-radius: $radius-md;

      img {
        width: 100%;
      }
    }
  }
}

// --------------------------------------------------- ACTION BLOCK

.product-form {
  .product-form-action-block {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: $padding-md;

    .btn {
      min-width: 100px;
    }
  }
}
