@use "src/view/variables" as *;

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: $padding-lg;
  transition: all ease-in-out 160ms;

  input {
    &:focus:not(.disabled-input) {
      border-color: $color-primary !important;
    }
  }
}
