@use "src/view/variables" as *;

.register-form {
  display: flex;
  flex-direction: column;
  gap: $padding-md;
  transition: all ease-in-out 160ms;

  input {
    &:focus:not(.disabled-input) {
      border-color: $color-primary !important;
    }
  }
}
