@use "src/view/variables" as *;

.register-form {
  display: flex;
  flex-direction: column;
  gap: $padding-md;
  transition: all ease-in-out 160ms;

  /*.form-group {
    label {
      margin-bottom: 6px;
    }

    input {
      box-shadow: none;
    }

    small {
    }
  }*/
}
